<div class="card form_card">
    <div class="form">
        <%= form_with(model: @question, url: quiz_questions_path, local: true) do |form| %>

        <% if @question.errors.present? %>
            <p class="form-errors">
            <%= @question.errors.full_messages.join(", ") %>
            </p>
        <% end %>
    
        <div class="form-group">
            <%= form.label :body, 'Quesion?', class:"form-label" %>
            <%= form.text_field :body, class:"form-control"%>
        </div>

        <div class="form-group">
            <%= form.fields_for :answers, Answer.new do |ans_form| %>
                <fieldset>
                    <%= ans_form.label :body, 'Answer', class:"form-label" %>
                    <%= ans_form.text_field :body, class:"form-control" %>
                    <%= ans_form.hidden_field :is_correct, value: true %>
                </fieldset>
            <% end %>
        </div>

        <%= form.submit class: 'btn btn-warning' %>
        <% end %>
    </div>
</div>
