<div class="card form_card">
    <div class="form">
        <%= form_with(model: @quiz, local: true) do |form| %>

        <% if @quiz.errors.present? %>
            <p class="form-errors">
            <%= @quiz.errors.full_messages.join(", ") %>
            </p>
        <% end %>

        <div class="form-group">
            <%= form.label :title, class:"form-label" %>
            <%= form.text_field :title, class:"form-control"%>
        </div>
        <div class="form-group">
            <%= form.label :description, class:"form-label" %>
            <%= form.text_area :description, class:"form-control" %>
        </div>

        <div class="form-group">
            <%= form.label 'level', class:"form-label" %> <br>
            <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :level, 1 %>
                <%= form.label :level,  'Beginner', value: 1, class:"quizz-radio" %>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :level, 2 %>
                <%= form.label :level,  'Intermadiate', value: 2, class:"quizz-radio"%>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <%= form.radio_button :level, 3 %>
                <%= form.label :level,  'Advanced', value: 3, class:"quizz-radio"%>
            </div>
        </div>

        <div class="form-group">
            <%= form.label :points, class:"form-label" %>
            <%= form.number_field :points, class:"form-control points_form" %>
        </div>

        <%= form.submit class: 'btn btn-warning' %>
        <% end %>
    </div>
</div>

