
        <div class="row welcome text-center">
		<div class="col-12">
            <h1 class="display-4">Quizzes</h1>
            <button class="btn btn-warning new-quiz-btn"><%= link_to 'Create Quiz', new_quiz_path %></button>
            </div>
		</div>
		<hr>
    <ul>
        <% @quizzes.each do |quiz| %>
            <div class="my-3">
                <div class="card">
                    <div class="card-body card-height">
                        <h4><%= link_to(quiz.title, quiz_path(quiz)) %></h4>
                        <p>
                            <%= pluralize(quiz.points, "point") %>
                        </p>
                        <small>
                            Created <%= time_ago_in_words(quiz.created_at) %> ago
                        </small>
                        <%= 
                            link_to 'Take Quiz', 
                            attempt_quiz_path(quiz), 
                            method: :post
                        %>
                    </div>
                </div>
            <small>
                <%= link_to "Edit", edit_quiz_path(quiz)%>
            </small>
            <small>
                <%= link_to "Delete", quiz_path(quiz), method: :delete, data: {confirm: "Are you sure?"}%>
            </small>
            
            </div>

        <% end %>
    </ul>
</div>
