<div class="container card card-body col-12 col-md-8 col-lg-6">
    <% if @user.errors.any? %>
        <p class="alert alert-danger alert-dismissible fade show" data-toggle="collapse"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button><%=  @user.errors.full_messages.join(', ') %>
        </p>
    <% end %>
    <div class="form-group">
        <%= form_with(model: @user, local: true) do |f| %>
            <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'Full Name' %>
            </div>
            <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Full Name' %>
            </div>
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
            </div>
            
            <div class="form-group">
                <%= f.label 'Register as:' %>
                <div class="custom-control custom-radio">
                    <%= f.radio_button :role, 1 %>
                    <%= f.label :role, 'Instructor', value: 1 %>
                </div>
                <div class="custom-control custom-radio">
                    <%= f.radio_button :role, 2 %>
                    <%= f.label :role, 'Student', value: 2 %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            </div>
            
            <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
            </div>

            <%= f.submit 'Sign Up', class: 'btn btn-warning col-12 col-md-3' %>
        <% end %>
    </div>
</div>
