<% if @user.role == 1 %>

    <div class="quiz-title">
        <h1 class="display-4">My Quizzes</h1>
    </div>
    <div class="list_quizzes">
        <% @created_quizzes.each do |quiz| %>
                <div class="card-body quiz-card">
                    <div class="card-title">
                        <%= link_to quiz.title, quiz_path(quiz) %> <br />
                        Points:  <%= quiz.points %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="attempted-quiz-title">
        <h1 class="display-4">Attempted Quizzes</h1>
    </div>
    <div class="list_attempted_quizzes">
        <% @attempted_quizzes.each do |quiz| %>
            <div class="card my-3">
                <div class="card-body quiz-card">
                    <div class="card-title">
                        <%= link_to quiz.title, quiz_path(quiz) %> <br />
                        Score:  <%= quiz.score %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

<% end %>

<% if @user.role == 2 %>

    <div class="attempted-quiz-title">
        <h1 class="display-4"><i class="far fa-question-circle"></i>Attempted Quizzes<i class="far fa-question-circle"></i></h1>
    </div>
    <div class="list_attempted_quizzes">
        <% @attempted_quizzes.each do |quiz| %>
            <div class="card my-3">
                <div class="card-body quiz-card">
                    <div class="card-title">
                        <%= link_to quiz.title, quiz_path(quiz) %> <br />
                        Score:  <%= quiz.score %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

<% end %>


